body {
  background-color: rgb(79, 127, 216);
}

#header {
  text-align: center;
}

.icon {
  color: black;
  margin: 0 5px;
  height: 20px;
  width: 20px;
}

#linkedInIcon:hover {
  color: #0072b1;
  transition-duration: 0.1s;
}

#githubIcon:hover {
  color: #24292e;
  transition-duration: 0.1s;
}
#mainBody {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
}

#leftSidebar {
  grid-column: 1;
}

.featureNavigator:hover {
  cursor: pointer;
}

#blog,
#aboutMe,
#inProgress {
  grid-column: 2;
  margin: 0 10px;
}

.blogEntry {
  background-color: cornflowerblue;
  margin: 20px;
  border-radius: 10px;
}

.blogDate {
  margin: 5px;
}

.blogText {
  margin: 20px;
}

#rightSidebar {
  grid-column: 3;
}

.portfolioName {
  color: black;
}

.portfolioDescription {
  color: black;
  text-decoration: none;
}

.recurse:hover {
  cursor: pointer;
}
